body {
    background-color: #2b2b2b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.ruleta-container {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.5vh solid white;
    margin-bottom: 2vh;
}

.ruleta {
    width: 100%;
    height: 100%;
    background: url('ruleta/ruleta.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    transition: transform 4s ease-out;
}

#jugador_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jugador_button div {
    flex: 1;
}

#menu_botones {
    display: flex;
}

#menu_botones button {
    margin:0.2vh;
}

#jugador_button span {
    font-size: 2vh;
    margin-right: 0.2vh;
}

button {
    padding: 3vh 5vh;
    font-size: 3vh;
    background-color: gold;
    border: none;
    cursor: pointer;
    border-radius: 0.6vh;
    font-weight: bold;
}

button:hover {
    background-color: orange;
}

#resultado {
    font-size: 3.4vh;
    margin-top: 2vh;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;

}

#circulo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid rgb(206, 199, 99);
    border-radius: 10vh;
    padding: 9vh;
    bottom: 14.5vh;
}

#sentarse {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97, 97, 207, 0.829);
    border: 0.5vh solid black;
    border-radius: 1vh;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 1vh;
    padding-right: 1vh;
    bottom: 22vh;
    font-size: 3vh;
}

#sentarse:hover {
    background-color: rgba(110, 110, 190, 0.692);
    border: 0.5vh solid black;
    border-radius: 1vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    bottom: 21.75vh;
}

#sentarse_fondo {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}

#logotipo {
    position: absolute;
    bottom: 41vh;
}

#logotipo img {
    width: 30vh;
}

#maletin {
    position: absolute;
    top: -3vh;
    margin: 0;
}

#maletin img {
    width: 35vh;
}

#crupier_cartas {
    position: absolute;
    top: 24vh;
}

#crupier_cartas img {
    height: 7.5vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
}

#jugador_monedas {
    top: -9.5vh;
    position: absolute;
    background-color: rgba(137, 43, 226, 0.452);
    width: 20vh;
    height: 8vh;
}

#cartas {
    position: absolute;
    bottom: 18vh;
}

#cartas img {
    height: 10vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
}

#cartera {
    position: absolute;
    width: 40vh;
    background-color: rgba(0, 0, 0, 0.432);
    border: 0.5vh solid rgba(0, 0, 0, 0.452);
    box-shadow: 0vh 0vh 3vh 0.7vh black;
    border-radius: 1vh;
    bottom: 1vh;
    left: 20vh;
}

#monedas {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#monedas * {
    flex: 1;
    width: 6vh;
    font-size: 1.5vh;
}

#monedas_suma_1, #monedas_suma_5, #monedas_suma_10, #monedas_suma_20, #monedas_suma_50, #monedas_suma_100 {
    padding-left: 0.2vh;
    top: 0.4vh;
    position: absolute;
    color: rgb(255, 255, 255);
}

#cartera button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 97.5%;
    margin-bottom: 0.75vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.75vh;

}

#menu_jugador {
    position: absolute;
    bottom: 1vh;
    background-color: rgba(0, 0, 0, 0.432);
    border: 0.5vh solid rgba(0, 0, 0, 0.452);
    box-shadow: 0vh 0vh 3vh 0.7vh black;
    border-radius: 1vh;
    right: 5vh;
    width: 70vh;
    padding-bottom: 1vh;
}
#menu_jugador_box {
    flex: 1;

}

#menu_jugador_box2 {
    flex: 1;
}

#jugador_precio {
    text-align: right;
    padding: 1vh;
    font-size: 2.5vh;
}

#jugador_precio img {
    text-align: right;
    width: 2vh;
    padding: 0;
    margin-right: 0.2vh;
}

#menu_jugador button {
    padding: 2vh;
    width: 100%;
    font-size: 1.5vh;
    
}

#exit {
    position: absolute;
    z-index: 2;
    top: 1vh;
    right: 1vh;
}

#exit img {
    width: 5vh;
    background-color: rgba(0, 0, 0, 0.432);
    border: 0.5vh solid rgba(0, 0, 0, 0.452);
    border-radius: 1vh;
}

#alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1vh;
    font-size: 2vh;
    padding-top: 0.25vh;
    padding: 0.25vh;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: rgba(0, 0, 0, 0.432);
    border: 0.5vh solid rgba(255, 0, 0, 0.452);
    border-radius: 1vh;
}


#numeroCrupier {
    position: absolute;
    width: 2vh;
    top: 35vh;
    font-size: 2vh;
}



#numeroJugador {
    position: absolute;
    width: 2vh;
    bottom: -5vh;
    font-size: 2vh;
}

